<h1>New Task</h1>

<%= render 'form' %>
<%= render 'task' %>

<% content_for :extra_footer do %>
  <script>
  $(function(){
    $('.tasks').on('ajax:complete', function(event, response){
      $(event.target).parent();
    });
  });
  </script>
<% end %>
